/* Coolors Exported Palette - coolors.co/6dd3ce-c8e9a0-f7a278-a13d63-351e29 */

/* HSL */
$color1: hsla(177%, 54%, 63%, 1);
$color2: hsla(87%, 62%, 77%, 1);
$color3: hsla(20%, 89%, 72%, 1);
$color4: hsla(337%, 45%, 44%, 1);
$color5: hsla(331%, 28%, 16%, 1);

/* RGB */
$color1: rgba(109, 211, 206, 1);
$color2: rgba(200, 233, 160, 1);
$color3: rgba(247, 162, 120, 1);
$color4: rgba(161, 61, 99, 1);
$color5: rgba(53, 30, 41, 1);